# Byte-compiled / optimized / DLL files
__pycache__
__pycache__/
*.py[cod]
*$py.class

# Environment
venv/

# Node
node_modules/
package-lock.json

# Generated CSS and JS
app/static/css/app.css
app/static/js/htmx.min.js