<footer
  class="footer bg-base-200 text-base-content flex items-center justify-between p-4 border-slate-400 border-t"
>
  <aside class="flex items-center">
    <p>Comunicaciones 3K4 - Montilla Tomas - 53.331</p>
  </aside>
  <nav class="flex gap-4 justify-self-end">
    <a
      href="https://github.com/MontillaTomas/huffman-coding"
      target="_blank"
      class="bg-black p-1 rounded-full"
    >
      <img
        src="../static/images/github-mark-white.svg"
        alt="GitHub"
        class="w-6 h-6"
      />
    </a>
  </nav>
</footer>
