<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{url_for('static',path='css/app.css')}}" />
    <title>Codificación de Huffman</title>
    <link
      rel="icon"
      type="image/svg+xml"
      href="{{url_for('static',path='images/binary-tree.svg')}}"
    />
    <script src="{{url_for('static', path='js/htmx.min.js')}}"></script>
  </head>
  <body>
    <div class="flex flex-col h-screen">
      {% include "navbar.html" %} {% include "content.html" %}{% include
      "footer.html" %}
    </div>
  </body>
</html>
